// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0a1bff;
$yellow: rgb(217, 255, 0);
$orange: #E67E22;
$green: #1EDD88;
$sick: rgb(10, 255, 63);
$gray: #afafaf;
$black: #121212;
$light-gray: #F4F4F4;

$blue-tiral: rgb(16, 40, 255);
