// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
// Define fonts for body and headers
$body-font: 'IBM Plex Mono', "Helvetica", "sans-serif";
$headers-font: 'IBM Plex Mono', "Helvetica", "sans-serif";


@font-face {
  font-family: "GT America";
  src: url('GT America Regular.eot');
  src: url('GT America Regular.eot?#iefix') format('embedded-opentype'),
       url('GT America Regular.woff2') format('woff2'),
       url('GT America Regular.woff') format('woff'),
       url('GT America Regular.ttf') format('truetype')
}

@font-face {
  font-family: "GT America";
  src: url('app/assets/fonts/GT America Bold.eot');
  src: url('app/assets/fonts/GT America Bold.eot?#iefix') format('embedded-opentype'),
       url('app/assets/fonts/GT America Bold.woff2') format('woff2'),
       url('app/assets/fonts/GT America Bold.woff') format('woff'),
       url('app/assets/fonts/GT America Bold.ttf') format('truetype')
}

$my-font: "GT America";
