// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";


@font-face {
  font-family: "GT America";
  src: font-url('GT America Regular.eot');
  src: font-url('GT America Regular.eot?#iefix') format('embedded-opentype'),
       font-url('GT America Regular.woff2') format('woff2'),
       font-url('GT America Regular.woff') format('woff'),
       font-url('GT America Regular.ttf') format('truetype')
}

@font-face {
  font-family: "GT America";
  src: font-url('GT America Bold.eot');
  src: font-url('GT America Bold.eot?#iefix') format('embedded-opentype'),
       font-url('GT America Bold.woff2') format('woff2'),
       font-url('GT America Bold.woff') format('woff'),
       font-url('GT America Bold.ttf') format('truetype')
}

$my-font: "GT Americana";
