// Specific CSS for your home-page
h1 {
  font-family: $headers-font;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  padding: 80px 160px;
}

p {
  font-family: $my-font;
  font-weight: bold;
  color: white;
}

.index__banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $black;
}

.search__icon {
  background-image: asset-url('search_icon.png');
  background-size: cover;
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: -100px;
  right: -50px;
  overflow: hidden;
}