<div class="tcontainer">
  <div class="ticker-wrap">
    <div class="ticker-move">
      <div class="ticket-item">hello :) - glad you dropped by</div>
      <div class="ticket-item">hallo :) - schön dass du da bist</div>
      <div class="ticket-item">hola :) - me alegro de que estés aquí</div>
      <div class="ticket-item">bonjour :) - content que tu sois làs</div>
      <div class="ticket-item">こんにちは :) - 来てくれて嬉しいです。</div>
      <div class="ticket-item">Привет :) - Как хорошо, что ты здесь</div>
      <div class="ticket-item">你好 :) - 很高兴你能来这里。</div>
    </div>
  </div>
</div>
