<div class="index__banner">
<%= render 'components/marquee' %>
  <h1>I love design, fullstack programming, 
  creating new prototypes,
  things that inspire</h1>
  <div class="search__icon"></div>
</div>