
<header>
  <div class="background">
    <h1 style="color:white;">Welcome to this site</h1>
    <h1 style="color:#c4c4c4;">Welcome to this site</h1>
    <h1 style="color:rgb(16, 40, 255);">Welcome to this site</h1>
  </div>
</header>
<div class="content">
  <h1>Welcome to this site</h1> 
</div>