// OUTER CONTAINER
.tcontainer {
  width: 100%;
  overflow: hodden; /* Hide scroll bar that would otherwise appear */
}

.ticket-wrap {
  width: 100%; 
  padding-left: 100%; /* Push contents to the right of the screen */
  background-color: grey;
}

// INNER CONTAINER 
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}

.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 10s; 
}

/* ITEMS */
.ticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
  color: white;
}