.textwrap {
  margin: 8px 64px;
  overflow: hidden;
}

.textscroll {
  white-space: nowrap;
  display: inline-block;
} 

.textscroll span {
  font-size: 18px;
  color: black;
  position: relative;
  right: 100%; /* responsible for Animation direction */
  padding: 0px 24px;
  animation: textscroll 14s linear infinite;
}

.delayed span {
  animation-delay: 7s;
}



@keyframes textscroll {
  0% { right: 100%; }
  80% { opacity: 100%; }
  100% { right: -100%; opacity: 0%; }
}

// ADAPTIVENESS OVER SCREENS

@media only screen and (max-width: 1144px) {
  .textscroll span {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1024px) {
  .textscroll span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .textscroll span {
    font-size: 12px;
  }
}